In [3]:

name='deepak'
Name='Sharma'
print(name)
print(Name)

deepak
Sharma

In [5]:
x = 5
y = 2
print(x+y)

7

In [7]:
## Identation

age = 45
if age > 30:
    print(age)
    print("age is",age)

45
age is 45

In [9]:
print("hello world")

hello world

In [11]:
print(f"my naame is {age} years")

my naame is 45 years

In [15]:
##lines continaution
total = 1 + 2 + 3 + 4 + 5 + 6 + \
4+5+6
print(total)

36

In [17]:
# multiple statement on single line
x = 5; y = 10; z = x + y
print(z)

15

In [1]:
age = 35.6
name = "deepak"
print(type(age))
print(type(name))

<class 'float'>
<class 'str'>

In [3]:
#2nd sheet defining variable

In [13]:
#veriable inference
variable = 10
print(type(variable))
variable = "deepak"
print(type(variable))

<class 'int'>
<class 'str'>

In [17]:
a = 10

In [19]:
## name error
a=b

NameError: name 'b' is not defined

# Variables

In [24]:
a = 100

In [34]:
## declaration and assigning variables

age = 26; height = 6.1; name = "sunny";is_student = True

## printing the varible

print("age :",age)

age : 26

In [38]:
first_name = "Deepak"
last_name = "Sharma"

# variable types

In [46]:
age = 23 #int
height = 6.4 #float
name = "Deepak" #str
is_student = True #bppl

print(type(height))
print(type(name))

<class 'float'>
<class 'str'>

In [48]:
type(height)

float

## Type conversion

In [56]:
age = 25
print(type(age))

#type conversion
age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [60]:
age = '25'
print(type(int(age)))

<class 'int'>

In [62]:
name = "Deepak"
int(name)

ValueError: invalid literal for int() with base 10: 'Deepak'

In [64]:
height = 5.11
type(height)

float

In [ ]:
int(height)

In [66]:
float(int(height))

5.0

In [70]:
#dynamic typing
var = 10 #int
print(var, type(var))

var = "hello"
print(var, type(var))

var = 475.5
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
475.5 <class 'float'>


### Taking input from user

In [404]:
name = input("what is your name?")

what is your name? deepak

In [73]:
print("your name is",name)

your name is Deepak

In [77]:
#reading number as input from user
age = int(input("what is the age"))
print(age, type(age))

what is the age 23

23 <class 'int'>

In [83]:
### Simple calculator
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product:",product)
print("Quotient:",quotient)

Enter first number: 2
Enter second number: 45

Sum: 47.0
Difference: -43.0
Product: 90.0
Quotient: 0.044444444444444446

# Data types

In [4]:
## integer example
age = 35
type(age)

int

In [8]:
## floating point datatype
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [10]:
## string datatype example
name = "Deepak"
print(name)
print(type(name))

Deepak
<class 'str'>

In [12]:
## bolean datatype
is_true=True
type(is_true)

bool

In [14]:
a=10
b=34 
type(a==b)

bool

In [16]:
## common error

# result = "hello" + 5
result = "hello" * 5
print(result)

hellohellohellohellohello

In [18]:
result="hello" + str(5)
print(result)

hello5

# conditional statements (if,elif,else)

In [ ]:
## if statement
age=15
if age >= 18:
    print("you are eligible for voting")

In [23]:
age <= 18

False

In [27]:
## else statement

age = 16
if age >= 18:
    print("you are eligible for voting")
else:
    print("you are a minior")

you are a minior

In [39]:
# elif statement

age=39

if age < 13:
    print("you are a child")
elif age > 18 and age < 40:
    print("you are an adult")
else:
    print("you are an old adult")

you are an adult

In [44]:
num = 41

if num%2==0:
    print("even")
else:
    print("odd")

odd

In [46]:
num = 280

if num%2==0:
    print("even")
else:
    print("odd")

even

In [71]:
## Nested Conditional Statements
num = int(input("Enter the number"))

if num > 0:
    print("The number is positive")
    if num%2 == 0:
     print("The number is even")
    else:
     print("The number is odd")
else:
    print("The number is zero or negative")

Enter the number 2

The number is positive
The number is even

In [73]:
## Practical Examples

## Determine if a year is a leap year using nested condition statement

year=int(input("Enter the year"))

if year %4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the year 2007

2007 is not a leap year

In [77]:
## Assignment
## Simple Calculator program
# Take user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

# Perform the requested operation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
else:
    result = "invalid operation"

print("result",result)

Enter first number:  34
Enter second number:  12
Enter operation (+, -, *, /):  +

result 46.0

In [82]:
### Determine the ticket price based on age and whether the person is a student

# Take user input

age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()
# Determine ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == 'yes':
        price = "$12"
    else:
        price = "$15"
elif age <= 64:
    if is_student == 'yes':
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"
    
print("Ticket Price:", price)

Enter your age:  21
Are you a student? (yes/no):  no

Ticket Price: $25

## Complex example: User login system

In [ ]:
# user login system

stored_username = "deepak"
stored_password = "password123"

#take user

In [93]:
# user login system

stored_username = "deepak"
stored_password = "password123"

#take user input
username = input("Enter username: ")
password = input("Enter password: ")

# check login credentials
if username == stored_username:
    if password == stored_password:
        print("login successful!.")
    else:print("incorrect password.")
else:
    print("username not found")

Enter username:  deepak
Enter password:  password123

login successful!.

# Operators:
### 1. Arithmatic operation

In [101]:
## Arithmethic Operation

a = 10
b = 5

add_result = a+b #additon
sub_result = a-b #substraction 
mult_result = a*b #multiplication
div_result = a/b #division
floor_div_result = a//b ## floor division
modulus_result = a%b #modulus operation
exponent_result = a**b ## Exponentiation
print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [103]:
a = 10
b = 5 

print(a+b)
print(a-b)

15
5

In [105]:
10/2

5.0

In [107]:
21/5

4.2

In [115]:
2**(2**3)

256

In [113]:
(5+6)**2

121

### 2. Comparison operator

In [121]:
## comparison operation
## == equal to

a = 10
b = 10.1

a == b

False

In [123]:
str1 = "Deepak"
str2 = "Deepak"

str1 == str2

True

In [125]:
## NOT equal to !=
str1 != str2

False

In [127]:
str3 = "Deepak"
str4 = "Deepak"

str3 != str4

False

In [129]:
# greater than >
num1 = 34
num2 = 23

num1 > num2

True

In [131]:
# less then <
num1 < num2

False

In [143]:
# greater then of equal to
number1 = 45
number2 = 45

number1 <= number2

True

## Logical Operator

In [153]:
## AND
X = True
Y = True

result = X and Y
print(result)

True

In [155]:
X = True
Y = False

result = X and Y
print(result)

False

In [157]:
## OR
X = False
Y = False

result = X or Y
print(result)

False

In [167]:
## NOT
X = False
not X

True

In [169]:
# Simple calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations:

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying result--->

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Enter first number:  10
Enter second number:  15

Addition: 25.0
Subtraction: -5.0
Multiplication: 150.0
Division: 0.6666666666666666
Floor Division: 0.0
Modulus: 10.0
Exponentiation: 1000000000000000.0

In [177]:
a = int(input("enter first number: "))
b = int(input("enterr second number: "))

print("sum is ", a+b)

enter first number:  1
enterr second number:  5

sum is  6

# Loops

In [180]:
range(5)

range(0, 5)

In [182]:
## for loop:
for i in range(5):
    print(i)

0
1
2
3
4

In [186]:
for i in range(1,5):
    print("Deepak", i)

Deepak 1
Deepak 2
Deepak 3
Deepak 4

In [190]:
for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [202]:
for i in range (1,10,-1):
    print(i)

In [206]:
for i in range (10,1,-2):
    print(i)

10
8
6
4
2

In [208]:
## Strings
str="Deepak sharma"

for i in str:
    print(i)

D
e
e
p
a
k

s
h
a
r
m
a

In [214]:
## while loop

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [262]:
# checking help
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [242]:
## loop control statements

# continue statement.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [246]:
# break statement.

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [250]:
# pass statement.

for i in range(3):
    for j in range(2):
        print(f"i:{1} and j: {j}")

i:1 and j: 0
i:1 and j: 1
i:1 and j: 0
i:1 and j: 1
i:1 and j: 0
i:1 and j: 1

In [252]:
## Examples- Calculate the sum of first N natural numbers using a while and for 
## while loop 
n=10 
sum=0
count=1
while count<=n:
 sum=sum+count
 count=count+1
print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [254]:
n=10
sum=0
for i in range(11):
    sum=sum+1

print(sum)

11

In [270]:
## Example- Prime numbers between 1 and 100
for num in range(1,10):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9

In [276]:
# Printing a table
for i  in range(1,11):
    print(f"{n} * {i} = {n*1}")

10 * 1 = 10
10 * 2 = 10
10 * 3 = 10
10 * 4 = 10
10 * 5 = 10
10 * 6 = 10
10 * 7 = 10
10 * 8 = 10
10 * 9 = 10
10 * 10 = 10

# Lists

## How to create...

In [285]:
lst=[]
print(type(lst))

<class 'list'>

In [287]:
lst

[]

In [291]:
lst = [1,2,3,4,5]
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

In [293]:
lst = [1,2,3,4,54,6,4,3,6,543]

In [295]:
lst

[1, 2, 3, 4, 54, 6, 4, 3, 6, 543]

# Different datatypes

In [304]:
names = ["Deepak", "jack", "williams", 1,2,3,4]
print(names)

['Deepak', 'jack', 'williams', 1, 2, 3, 4]

In [306]:
mixed_list=[1, "hello", 2.34, True]
print(mixed_list)

[1, 'hello', 2.34, True]

## Acessing List Items

In [311]:
fruits=["apple", "banana", "guava", "chery"]

In [317]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])

apple
banana
guava
chery

In [319]:
fruits

['apple', 'banana', 'guava', 'chery']

In [321]:
fruits[0:4]

['apple', 'banana', 'guava', 'chery']

In [323]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1]) #Reverse the list

['banana', 'guava', 'chery']
['banana', 'guava']
['apple', 'banana', 'guava']
['apple', 'banana', 'guava', 'chery']
['chery', 'guava', 'banana', 'apple']

In [327]:
# modifying the list elements
fruits

['apple', 'banana', 'guava', 'chery']

In [329]:
fruits[0]

'apple'

In [331]:
fruits[0] = "watermelon" #Mutable
print(fruits)

['watermelon', 'banana', 'guava', 'chery']

In [333]:
fruits[0] = "watermelon"

In [335]:
fruits

['watermelon', 'banana', 'guava', 'chery']

In [339]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [341]:
# List Methods

fruits.append("orange") ## add on items to the end
print(fruits)

['watermelon', 'banana', 'guava', 'chery', 'orange']

In [345]:
fruits.insert(1,"watermelon")
print(fruits)

['watermelon', 'watermelon', 'watermelon', 'banana', 'guava', 'chery', 'orange']

In [347]:
fruits.remove("watermelon") ## Removing the first accurence of the item
print(fruits)

['watermelon', 'watermelon', 'banana', 'guava', 'chery', 'orange']

In [349]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(fruits)
print(popped_fruits)

['watermelon', 'watermelon', 'banana', 'guava', 'chery']
orange

In [353]:
index=fruits.index("chery")
print(index)

4

In [355]:
fruits.insert(2,"banana")
fruits

['watermelon', 'watermelon', 'banana', 'banana', 'guava', 'chery']

In [359]:
print(fruits.count("banana"))

2

In [361]:
fruits.append("avocado") ## add on iten to the end

In [363]:
# sort the list in ascending order
fruits.sort()
fruits

['avocado', 'banana', 'banana', 'chery', 'guava', 'watermelon', 'watermelon']

In [365]:
# sort the list in descending order
fruits.reverse()

In [367]:
fruits

['watermelon', 'watermelon', 'guava', 'chery', 'banana', 'banana', 'avocado']

In [369]:
fruits.clear() ## remove all the items from the list

print(fruits)

[]

In [375]:
## slicing list
numbers = [1,2,3,4,5,6,7,8,9,10]

In [377]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [381]:
## Iterating over the list
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [385]:
## Iterating with index
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [389]:
numbers.count(2)

1

In [391]:
len(numbers)

10

In [393]:
## List comprehension
lst=[]
for x in range(1,11,2):
    lst.append(x**2)

print(lst)

[1, 9, 25, 49, 81]

In [395]:
[x**3 for x in range(1,10,2)]

[1, 27, 125, 343, 729]

# Tuples

In [398]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [400]:
lst=list() ## []
print(type(lst))

<class 'list'>

In [402]:
tpl=tuple()
print(type(tpl))

<class 'tuple'>

In [406]:
tpl1 = (1,2,3,4,5)
print(type(tpl1))

<class 'tuple'>

In [408]:
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [410]:
numbers=tuple(lst)
numbers

(1, 2, 3, 4, 5)

In [412]:
list(numbers)

[1, 2, 3, 4, 5]

In [414]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [416]:
## Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5)

In [418]:
print(numbers[2])
print(numbers[-1])

3
5

In [422]:
numbers[0:4]

(1, 2, 3, 4)

numbers[::-1]

In [426]:
numbers

(1, 2, 3, 4, 5)

In [428]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [430]:
## tuple operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [432]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [434]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [436]:
numbers

(1, 2, 3, 4, 5)

In [446]:
# Imutable nature of tuple

lst=[1,2,3,4,5] #list
print(lst)

[1, 2, 3, 4, 5]

In [448]:
lst[1]="Deepak" #Mutable
print(lst)

[1, 'Deepak', 3, 4, 5]

In [452]:
## tuple Methods

print(numbers.count(1))
print(numbers.index(3))

1
2

In [462]:
## packing and unpacking rule

## Packing
packed_tuple = 1, "hello", 3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [464]:
## Unpacking a tuple

a, b, c = packed_tuple 

print(a)
print(b)
print(c)

1
hello
3.14

In [466]:
## Unpacking with *

numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

# Nested List And Tuples

In [469]:
## Nested list
lst=[[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]

In [471]:
lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'hello', 3.14, 'c']]

In [473]:
lst[0]

[1, 2, 3, 4]

In [475]:
lst=[[1,2,3,4],[6,7,8,9],(1,"hello",3.14,"c")]

In [477]:
lst

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'hello', 3.14, 'c')]

In [479]:
lst[2][0:3]

(1, 'hello', 3.14)

In [485]:
nested_tuple = ((1,1,2,3,2), ("a", "b", "c"), (True, False))

# access the element inside the tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 1, 2, 3, 2)
c

In [487]:
# iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 1 2 3 2
a b c
True False

# Dictionaries

In [492]:
## creating dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [496]:
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [498]:
student={"name":"Sunny", "age":17, "grade":11}
print(student) # Accessing Dictionary elements
print(type(student))

{'name': 'Sunny', 'age': 17, 'grade': 11}
<class 'dict'>

In [500]:
# Single key is always used
student={"name":"Sunny", "age":17, "name":24}
print(student)

{'name': 24, 'age': 17}

In [502]:
## accessing Dictionary Elements
student={"name":"Honey","age":32,"grade":'A'}
print(student)

{'name': 'Honey', 'age': 32, 'grade': 'A'}

In [504]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

A
32

In [506]:
## Accessing using get() method
print(student.get('grade'))

A

In [508]:
print(student.get('last_name'))

None

In [510]:
print(student.get('last_name',"Not Available"))

Not Available

In [512]:
# Modifying Dictionary Elements

## Dictionary are mutable,so you can add, update or delete elements

print(student)

{'name': 'Honey', 'age': 32, 'grade': 'A'}

In [514]:
student["age"]=33 ##update value for the key
print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A'}

In [516]:
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A', 'address': 'India'}

In [518]:
del student['grade'] ## delete key and value pair
print(student)

{'name': 'Honey', 'age': 33, 'address': 'India'}

In [520]:
## Dictionary methods
keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)
items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Honey', 33, 'India'])
dict_items([('name', 'Honey'), ('age', 33), ('address', 'India')])

In [522]:
student.keys()

dict_keys(['name', 'age', 'address'])

In [524]:
student

{'name': 'Honey', 'age': 33, 'address': 'India'}

# Shallow Copy

In [529]:
import copy
student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
student_copy = copy.copy(student)

In [531]:
student, student_copy

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [535]:
# Modify the nested list

student['subjects'].append('English')
print(student)
print(student_copy)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science', 'English', 'English']}

# Deep Copy

In [538]:
import copy
student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
student_copy2 = copy.deepcopy(student)

In [544]:
student, student_copy2

({'name': 'Honey', 'subjects': ['Math', 'Science', 'English']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [550]:
# Modify the nested list
student['subjects'].append('English')
print(student)
print(student_copy2)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English', 'English', 'English', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science']}

In [552]:
## Iterating over keys
for keys in student.keys():
 print(keys)

name
subjects

In [556]:
# Iterate over values
for value in student.values():
    print(value)

Honey
['Math', 'Science', 'English', 'English', 'English', 'English']

In [558]:
## Iterate over key value pairs
for key,value in student.items():
 print(f"{key}:{value}")

name:Honey
subjects:['Math', 'Science', 'English', 'English', 'English', 'English']

In [562]:
## Nested Disctionaries
students={
 "student1":{"name":"Sunny","age":32},
 "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Sunny', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [564]:
## Access nested dictionaries elements

print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [566]:
students.items()

dict_items([('student1', {'name': 'Sunny', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

# Functions in pyton

In [569]:
## syntax

def function_name(parameters):
 """Docstring"""
 # Function body
 return expression

In [573]:
## why functions?
num=29
if num%2==0:
 print("the number is even")
else:
 print("the number is odd")

the number is odd

In [579]:
def even_or_odd(num):
 """This function finds even or odd"""
 if num%2==0:
     print("the number is even")
 else:
    print("the number is odd")

In [581]:
## Call this function
even_or_odd(24)

the number is even

In [587]:
## function with multiple parameters
def add(a,b):
 return a+b
a = int(input("Enter the number 1"))
b = int(input("Enter the number 2"))
result=add(a, b)
print("The result of",a, "and", b, "is",result)
#or
print(f"The result of {a} and {b} is {result}") #fstrings

Enter the number 1 3
Enter the number 2 45

The result of 3 and 45 is 48
The result of 3 and 45 is 48

In [589]:
## Default Parameters

def greet(name):
 print(f"Hello {name} Welcome To the paradise")
greet("Deepak")

Hello Deepak Welcome To the paradise

In [591]:
def greet(name="Guest"):
 print(f"Hello {name} Welcome To the paradise")
greet("Deepak")

Hello Deepak Welcome To the paradise

In [599]:
## Variable Length Arguments

## Positional And Keywords arguments
def print_numbers(*Deepak):
 for number in Deepak:
    print(number)

In [603]:
print_numbers(1,2,3,4,5,6,7,8,"Deepak")

1
2
3
4
5
6
7
8
Deepak

In [607]:
## Positional arguments
def print_numbers(*args):
 for i in args:
    print(i)

In [609]:
print_numbers(1,2,3,4,"jack", "smith")

1
2
3
4
jack
smith

In [625]:
## Example

def sum_of_numbers(*args):
 sum = 0
 for i in args:
    sum = sum + i
 return sum

In [627]:
sum_of_numbers(1,2,3,4,5,6,15)

36

In [631]:
# Keywords Arguments

def print_details(**kwargs):
 for key,value in kwargs.items():
    print(f"{key}:{value}")

In [633]:
print_details(name="Deepak",age="20",country="India")

name:Deepak
age:20
country:India

In [646]:
def print_details(*args,**kwargs):
 for val in args:
    print(f" Positional arument :{val}")
 for key,value in kwargs.items():
    print(f"{key}:{value}")

In [648]:
print_details(1,2,3,4,"Deepak",name="Deepak",age="20",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Deepak
name:Deepak
age:20
country:India

In [660]:
## Return statements

def multiply(a,b):
 return a*b
    
multiply(2,3)

6

In [662]:
# Return multiple parameters

def multiply(a,b):
 return a*b,a
multiply(2,3)

(6, 2)

# Lambda Functions in python

In [665]:
#Syntax

lambda arguments: expression

In [667]:
def addition(a,b):
 return a+b

In [669]:
addition(2,3)

5

In [671]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [675]:
def even(num):
 if num%2==0:
   return True
 
even(24)

True

In [677]:
even1=lambda num:num%2==0
even1(12)

True

In [679]:
def addition(x,y,z):
 return x+y+z
addition(12,13,14)

39

In [681]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [683]:
## map()- applies a function to all items in a list


numbers=[1,2,3,4,5,6]
def square(number):
 return number**2
square(2)

4

In [685]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

# The Map() Function in python

In [688]:
def square(x):
 return x*x
square(10)

100

In [690]:
numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [692]:
## Lambda function with map

numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [694]:
## MAp multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]
added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [696]:
# map() to convert a list of strings to integers

# Use map to convert strings to integers

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [714]:
def get_name(person):
 return person['name']
people=[
 {'name':'Deepak','age':32},
 {'name':'Jack','age':33}
    ]
list(map(get_name,people))

['Deepak', 'Jack']

# The Filter() Function in python

In [722]:
def even(num):
 if num%2==0:
   return True

In [724]:
even(24)

True

In [726]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [728]:
## filter with a Lambda Function

numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [730]:
# Filter with a lambda function and multiple conditions

numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [740]:
# Filter() to check if the age is greate than 25 in dictionaries
people=[
 {'name':'Sunny','age':32},
 {'name':'Jack','age':33},
 {'name':'John','age':25}
]
def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'Sunny', 'age': 32}, {'name': 'Jack', 'age': 33}]